@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #b7c7d7;
  --color-primary-300: #5e82a6;

  --breakpoint-xs: 25rem;
  --breakpoint-xmd: 34rem;
}

@layer components {
  .spinner {
    margin: 20rem auto 1.6rem;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .spinner::before,
  .spinner::after,
  .spinner {
    content: "";
  }

  .spinner::before {
    width: 12px;
    height: 40px;
    background-color: #00b259;
    border-radius: 6px;
    animation: bounce 1.2s infinite ease-in-out;
    animation-delay: 0s;
  }

  .spinner::after {
    width: 12px;
    height: 40px;
    background-color: #005c34;
    border-radius: 6px;
    animation: bounce 1.2s infinite ease-in-out;
    animation-delay: 0.4s;
  }

  .spinner {
    position: relative;
  }

  .spinner::before {
    position: absolute;
    left: 0;
  }

  .spinner::after {
    position: absolute;
    right: 0;
  }

  .spinner div {
    width: 12px;
    height: 40px;
    background-color: #009246;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1.2s infinite ease-in-out;
    animation-delay: 0.2s;
  }

  @keyframes bounce {
    0%,
    80%,
    100% {
      transform: scaleY(0.4);
    }
    40% {
      transform: scaleY(1);
    }
  }

  @media (min-width: 1024px) {
    .spinner {
      margin: 16rem auto 1.6rem;
    }
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
